div {
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    border: 10px solid black;
    border-radius: 50px;
    background-color: peru;
    width: 600px;
    height: 400px;
}

div > p {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}