/* Body styling and add image */
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('https://www.thespruceeats.com/thmb/KauHqB-Lk5nnMSWjTh6G3bWcGz4=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/Stocksy_txpcfead064n6o200_Medium_1129483-7cb1e14712a04ac18cbeddcc57b049e1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
/* Bordered form */
form {
    background-color: goldenrod;
    border-radius: 15px;
    width: 25%;
    border: 3px solid #f1f1f1;

  }
  
  /* Full-width inputs */
  input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #004AAD;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #004AAD;
  }
  
  /* Center the logo image inside this container if used */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  

     /* logo if used size image  */
  /* img.logo {
    width: 40%;
     border-radius: 50%; 
  }  */

  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  

