html {
  scroll-behavior: smooth;
}

.fullBody{
  background-color: white;
  display: grid  !important;
  background-color: white  !important;
  text-align: center;
  color:#004AAD ;
}


.header {
  /* display: grid  !important; */
  background-color: white !important;
  text-align: center;
  color: #ffffff;

}

.navbar-brand{
  color: #004AAD ;
}

nav.navbar.bg-primary{
  background-color:rgba(70, 167, 231, 0.614) !important;

}
div.getting.started{
background-color:white;


}
div.accordion-body{
  background-color:  blue !important;
}

div.getresponse{
  /* background-color: aliceblue !important; */
}




.getrequest{
  background-color: white !important;
  text-align: left;
  color: #004AAD 


}
.getresponse{
  background-color: white !important;
  text-align: left;
  color: #004AAD 
}




.postrequest{
  background-color: white!important;
  text-align: left;
  color: #004AAD 

}
.postresponse{
  background-color: white !important;
  text-align: left;
  color: #004AAD 

}

.putrequest{
  background-color: white!important;
  text-align: left;
  color: #004AAD 

}
.putresponse{
  background-color: white !important;
  text-align: left;
  color: #004AAD 

}



.deleterequest{
  background-color: white!important;
  text-align: left;
  color: #004AAD 

}
.deleteresponse{
  background-color: white!important;
  text-align: left;
  color: #004AAD 


}



.btn-outline-success{
  color: black !important ;
  font-size: x-large;
}

.btn-outline-warning{
  color: goldenrod !important ;
  font-size: x-large;
}



.btn-outline-info{
  color:black !important ;
  font-size: x-large;
}

.btn-outline-danger{
color: red !important ;
font-size: x-large;
}

.accordion-button.collapsed{
  color:blue !important;

}

.accordion-body{
  color: rgb(0, 242, 255) !important;
  background-color: rgb(252, 250, 250) !important;
}

.logo{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  position: absolute !important;
  left: 660px;
  top: 20px !important;
  bottom: 1px !important;
  text-align: center !important;
}
