body {
    margin-top: 100px;
    text-align: center;
    width: 50% auto;
}

/* .heart {
    animation: heartbeat;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-direction: alternate-reverse;
    transform-origin: center;
} */

/* .boundary {
    margin: 0 auto;
    max-width: 50%;
} */

/* To create an animation we use keyframes */
/* @keyframes heartbeat {
    to {
        transform: scale(3);
    }
}   */

.basketball {
    width: 125px;
    height: 125px;
    /* border-radius: 50%; */
    animation: bounce;
}

#square {
    background-color: aquamarine;
    width: 200px;
    height: 200px;
}

#bound {
    max-width: 100%;
}
.court {
    border-top: solid black 2px;
    top: 100;
}

@keyframes roll {
    to {
        transform: tr;
    }

    from {
        left: 0%;
    }

    to {
        left: 90%
    }
}


.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  .animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  .animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
  }
  /*the animation definition*/
  @-webkit-keyframes swing {
    20% {
      -webkit-transform: rotate3d(0, 0, 1, 15deg);
      transform: rotate3d(0, 0, 1, 15deg)
    }
    40% {
      -webkit-transform: rotate3d(0, 0, 1, -10deg);
      transform: rotate3d(0, 0, 1, -10deg)
    }
    60% {
      -webkit-transform: rotate3d(0, 0, 1, 5deg);
      transform: rotate3d(0, 0, 1, 5deg)
    }
    80% {
      -webkit-transform: rotate3d(0, 0, 1, -5deg);
      transform: rotate3d(0, 0, 1, -5deg)
    }
    100% {
      -webkit-transform: rotate3d(0, 0, 1, 0deg);
      transform: rotate3d(0, 0, 1, 0deg)
    }
  }
  @keyframes swing {
    20% {
      -webkit-transform: rotate3d(0, 0, 1, 15deg);
      -ms-transform: rotate3d(0, 0, 1, 15deg);
      transform: rotate3d(0, 0, 1, 15deg)
    }
    40% {
      -webkit-transform: rotate3d(0, 0, 1, -10deg);
      -ms-transform: rotate3d(0, 0, 1, -10deg);
      transform: rotate3d(0, 0, 1, -10deg)
    }
    60% {
      -webkit-transform: rotate3d(0, 0, 1, 5deg);
      -ms-transform: rotate3d(0, 0, 1, 5deg);
      transform: rotate3d(0, 0, 1, 5deg)
    }
    80% {
      -webkit-transform: rotate3d(0, 0, 1, -5deg);
      -ms-transform: rotate3d(0, 0, 1, -5deg);
      transform: rotate3d(0, 0, 1, -5deg)
    }
    100% {
      -webkit-transform: rotate3d(0, 0, 1, 0deg);
      -ms-transform: rotate3d(0, 0, 1, 0deg);
      transform: rotate3d(0, 0, 1, 0deg)
    }
  }
  .swing {
    -webkit-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
    -webkit-animation-name: swing;
    animation-name: swing
  }
  